* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
}

html,
body {
  padding: 0;
  height: 100%;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 24px;
}

.intro-chunk {
  max-width: 415px;
  padding-top: 96px;
  padding-bottom: 64px;
}

strong {
  color: #009966;
}

.title {
  margin-top: 96px;
  margin-bottom: 48px;
  font-size: 2rem;
  line-height: 1.2;
}

p {
  margin-bottom: 16px;
}

main {
  padding-top: 72px;
  padding-bottom: 66px;
  background-color: #666666;
  border-top: 8px solid #9999;
}

.card {
  background-color: #ffffff;
  padding: 24px;
  margin: 0 -24px;
  border-bottom: 8px solid #9999;
}

.banner {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 16px;
  width: fit-content;
  background-color: #ffbf00;
  border-bottom: 8px solid #cc9900;
}

.indented-heading {
  font-size: 1.5rem;
  line-height: 1.2;
}
